<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 화면 </title>
  <div th:replace="/fragment/header.html :: fragment-header"></div>
  <style>
    /* Flexbox 레이아웃을 위한 스타일 */
    .flex-container {
      display: flex;
      align-items: center; /* 요소들을 세로로 정렬 */
      padding: 10px;
    }

    /* total-count가 왼쪽에 위치하도록 스타일 */
    #total-count {
      margin-right: auto; /* 나머지 요소들을 오른쪽으로 밀어냄 */
    }

    .pager {
      margin-top: 20px;
      text-align: center;
    }
    .pager a.on {
      font-weight: bold;
      color: #043fa8;
    }
  </style>
</head>
<body>


<div th:replace="/fragment/layout.html :: fragment-admin-body-menu"></div>
<h1>관리자 회원 관리</h1>
<div class="list">


  <div class="flex-container">
    <p id="total-count">전체 <span th:text="${totalCount}"></span>개</p>
    <form method="get" class="form-inline">
      <select name="searchType" class="form-select btn-outline-primary" aria-label="Default select example">
        <option value="all">전체</option>
        <option th:selected="${#strings.equals(param.searchType, 'userId')}" value="userId">아이디</option>
        <option th:selected="${#strings.equals(param.searchType, 'userName')}" value="userName">이름</option>
        <option th:selected="${#strings.equals(param.searchType, 'phone')}" value="phone">연락처</option>

      </select>
      <div style="padding: 3px">
        <input th:value="${param.searchValue}" class="form-control mr-sm-2" type="search" name="searchValue" placeholder="검색어 입력"  aria-label="Search"/>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
  </div>

  <table style="text-align: center" class="table table-striped table-sm" >
    <thead>
    <tr>
      <th>NO</th>
      <th>
        아이디(이메일)
      </th>
      <th>
        이름
      </th>
      <th>
        연락처
      </th>
      <th>
        이메일 인증 여부
      </th>
      <th>
        가입일
      </th>
      <th>
        관리자여부
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${list}">
      <td th:text="${x.seq}">1</td>
      <td>
        <a th:text="${x.userId}"
           th:href="${'detail.do?userId=' + x.userId}">
          satcop@naver.com</a>
      </td>
      <td th:text="${x.userName}">홍길동</td>
      <td th:text="${x.phone}">010-1111-2222</td>
      <td>
        <p th:if="${x.emailAuthYn}">Y</p>
        <p th:if="${x.emailAuthYn eq false}">N</p>
      </td>
      <td>
        <p th:text="${x.regDt}">2021.01.01</p>
      </td>
      <td>
        <p th:if="${x.adminYn}">Y</p>
        <p th:if="${x.adminYn eq false}">N</p>
      </td>
    </tr>
    </tbody>
  </table>


  <div class="pager" th:utext="${pager}">
  </div>


</div>


</body>
</html>
